<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>
<body>

  {% block content %} {% endblock %}

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a href="{% url 'start:start' %}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="{% url 'blogs:blogs' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Blog</a>
    <a href="{% url 'accounts:accounts' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Account</a>
    <a href="{% url 'contact:contact' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contact</a>
    <a href="{% url 'bank:bank' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Bank</a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:40px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-medium" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-medium" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-medium" onclick="myFunction()">CONTACT</a>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-40 w3-center w3-opacity w3-light-grey w3-xlarge">
  <p class="w3-medium">  
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    Powered by Turyan Azizov
</p>
</footer>

</body>
</html>
